body{
    margin-left: 30%;
    margin-right: 30%;
    max-width: 100%;
}
.header-top {
    border-bottom: 1px solid black;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.logo{
    float: left;
}
.menu{
    padding-left: 62.5%;
}
.menu a {
    padding-left: 5%;
}
.content {
    padding-top: 10%;
}

